body{
    background-color: darkgray;
}


/* Information */

.start{
    text-align: center;
    font-size: larger;
    padding-top: 50px;
}



/* Choices */

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 70px;
}

button{
    background-color: darkgray;
    padding: 20px;
}

.info .container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.info .content img {
    width: 100px;
    height: 100px;
}

.info .container .content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 70px;
}

.choices button{
    font-size: 20px;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }