body{
    background-color: teal;
}


/* Information */

.start{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
    background-color: pink;
    border: black;
    border-style: solid;
    border-radius: 40px;
    border-width: 10px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

#rounds {
    padding: 20px;
    font-size: 17px;
}

#submit {
    border-radius: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
}



/* Choices */

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 70px;
    background-color: pink;
    border: black;
    border-style: solid;
    border-radius: 40px;
    border-width: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 70px;
}

button{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.info .container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.info .content img {
    width: 100px;
    height: 100px;
}

.info .container .content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 70px;
}

.choices button{
    font-size: 20px;
}


  /* Result */


  .finaloutput{
    background-color: pink;
    border: black;
    border-style: solid;
    border-radius: 40px;
    border-width: 10px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;

}


#result, #final, #score {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 70px;
    text-align: center;
  }
